/* ================================================== */
/* COMPOSANT REGLAGES */
/* ================================================== */

/* mode clair */

.leaflet-control-search,
.leaflet-control-search .search-tooltip,
.leaflet-tooltip-custom,
.leaflet-control-layers,
.room-label,
.custom-geojson-button {
    background-color: #ffffff !important;
    border: 2px solid #d9d9d9 !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2) !important;
    color: #000000 !important;
}

#getLocationBtn {
    background-color: #ffffff !important;
}

.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-cancel:hover,
.leaflet-control-search .search-tooltip li:hover,
.custom-geojson-button:hover,
#getLocationBtn:hover {
    background-color: #d9d9d9 !important;
}

/* mode sombre */

body.dark-mode .leaflet-control-search,
body.dark-mode .leaflet-control-search .search-tooltip,
body.dark-mode .leaflet-tooltip-custom,
body.dark-mode .leaflet-control-layers,
body.dark-mode .room-label,
body.dark-mode .custom-geojson-button {
    background-color: #1e1e1e !important;
    border: 2px solid #444444 !important;
    box-shadow: 0 10px 10px rgba(105, 105, 105, 0.2) !important;
    color: #ffffff !important;
}

body.dark-mode .leaflet-control-search input,
body.dark-mode #getLocationBtn {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

body.dark-mode .leaflet-control-search .search-button:hover,
body.dark-mode .leaflet-control-search .search-cancel:hover,
body.dark-mode .leaflet-control-search .search-tooltip li:hover,
body.dark-mode .custom-geojson-button:hover,
body.dark-mode #getLocationBtn:hover {
    background-color: #444444 !important;
}

.leaflet-control-search .search-tooltip li {
    background-color: #ffffff00;
    color: #000000;
}

body.dark-mode .leaflet-control-search .search-tooltip li {
    color: #ffffff;
}


/* ================================================== */
/* COMPOSANT PRINCIPAL : BARRE DE RECHERCHE */
/* ================================================== */

.leaflet-control-search {
    border-radius: 300px !important;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    width: calc(100vw - 20px);
    height: 55px;
    z-index: 1010;
}

.leaflet-control-search .search-button {
    width: 40px;
    height: 40px;
    background: url('./images/search-icon.svg') no-repeat center center;
    background-size: 60%;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: 0 0 auto;
    align-self: center;
    -webkit-appearance: none;
    appearance: none;
    line-height: 0;
}

.leaflet-control-search .search-cancel {
    background: url('./images/cancel-icon.svg') no-repeat center center;
    background-size: 56%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    cursor: pointer;
    right: 50px;
}

.leaflet-control-search .search-tooltip {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1010;
    list-style-type: none;
    padding-left: 20px;
}

.leaflet-control-search input {
    outline: none;
    border: none !important;
    box-shadow: none !important;
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 14px;
}

.leaflet-control-search .search-tooltip li {
    padding: 0px;
    cursor: pointer;
}

.leaflet-control-search .search-button:hover {
    background: url('./images/search-icon.svg') no-repeat center center;

    background-size: 60%;
}

#search-control-start .search-cancel {
    right: 90px;
}

/* ================================================== */
/* AUTRE STYLE */
/* ================================================== */


.leaflet-control-zoom {
    display: none;
}

/* ================================================== */
/* AFFICHAGE PC */
/* ================================================== */

@media(min-width: 601px) {

    .leaflet-control-search {
        position: absolute;
        top: 0px;
        width: 370px;
        padding: 10px;
    }

    #search-control-start .search-tooltip {
        top: 147px;
    }
}